<mat-card>
    <mat-card-header>
        <mat-card-title>Formulario</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
            <mat-form-field class="full-width">
                <input matInput placeholder="Nome" formControlName="nome">
                @if (form.get('nome')?.invalid) {
                    <mat-error>{{errorMessage('nome')}}</mat-error>
                  }
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="CPF" formControlName="cpf"
                mask="000.000.000-00" inputmode="numeric">
                @if (form.get('cpf')?.invalid) {
                    <mat-error>{{errorMessage('cpf')}}</mat-error>
                  }
            </mat-form-field>

            <mat-form-field class="full-width">
                <input matInput placeholder="Contato" formControlName="numero"
                mask="+00 (00) 0 0000-0000" inputmode="numeric">
                @if (form.get('numero')?.invalid) {
                    <mat-error>{{errorMessage('numero')}}</mat-error>
                  }
            </mat-form-field>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onSubmit()">SALVAR</button>
        <button mat-button  (click)="onReturn()">CANCELAR</button>
      </mat-card-actions>
</mat-card>